.video-img {
  position: relative;
}
.video-time-duration {
  background: black;
  background: rgba(0, 0, 0, 0.7);
  padding: 0.1875em 0.4375em;
  color: #fff;
  font-size: 0.8125em;
  line-height: 1.3em;
  position: absolute;
  bottom: 0;
  right: 0;
}

